mat-form-field{
    width: 100%;
}

.srs-logo{
    margin-top:0%;
    width: 200px;
    height: 200px;
    padding-top: 0%;
}

button.example-custom-date-class {
    background: orange;
    border-radius: 100%;
}

.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    align-items: flex-start;
  }
  
  .example-radio-button {
    margin: 5px;
  }
  
  .page-header{
    font-weight: bold;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }